.wall {
    width: 50px;
    height: 50px;
    background-image: url('./Assets/wall.png');
    display: inline-block;
}
.coin {
    width: 50px;
    height: 50px;
    background-image: url('./Assets/coin.png');
    display: inline-block;
}
.background {
    width: 50px;
    height: 50px;
    background-image: url('./Assets/bg.png');
    display: inline-block;
}
.pacman {
    width: 50px;
    height: 50px;
    background-image: url('./Assets/pacman.png');
    display: inline-block;
}
.ghost0 {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-image: url('./Assets/ghost0.png');
}
.ghost1 {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-image: url('./Assets/ghost1.png');
}
.ghost2 {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-image: url('./Assets/ghost2.png');
}
.ghost3 {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-image: url('./Assets/ghost3.png');
}
.ghost4 {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-image: url('./Assets/ghost4.png');
}
.color0 {
    color: rgb(126, 223, 255);
}
.color1 {
    color: rgb(212, 3, 212);
}
.color2 {
    color: lightgrey;
}
.color3 {
    color: rgb(116, 255, 116);
}
.color4 {
    color: rgb(255, 0, 0);
}
.colorp {
    color: yellow;
}
#gameInfo {
    display: grid;
    grid-template-rows: 40% 60%;
    font-weight: bold;
    text-align: center;
}
#score {
    display: grid;
    grid-template-rows: 15% 15% 15% 15% 15% auto;
    font-size: 6vw;
    font-size: 10vh;
}
.menu{
    display: grid;
    grid-template-rows: 15% 35% 50%;
    width: 100%;
    height: 100%;
}
.menu div{
    margin: auto;
}
.login input, .login label, .login button{
    margin: 5%;
}
label{
    color: white;
}
body {
    background-color: black;
    display: grid;
    grid-template-columns: 70% 30%;
    width: 100%;
    height: 100%;
}
html{
    width: 100%;
    height: 100%;
}
div {
    line-height: 0px;
}